<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Amazon">
    <classes>
      <class name="script.DelthePro"/>
      <class name="script.addtocart"/>
      <class name="script.Login"/>
      <class name="script.AmaPayBal"/>
      <class name="script.CreateWL"/>
      <class name="script.Search"/>
      <class name="script.Orders"/>
      <class name="script.AddtoWish"/>
    </classes>
  </test> <!-- Amazon -->
</suite> <!-- Suite -->
